**/*.idea
**/*.DS_Store
**/bin
!/packages/infrastructure/bin
/packages/infrastructure/**/*.js
/packages/infrastructure/**/*.d.ts
**/obj
**/*.dll
**/*.so
**/*.a
**/*.pdb

**/node_modules
**/build
**/dist
**/output
test-results
test-reports


packages/website-new